Exploration des données de mobilisation des camions pour les incidents ayant eu lieu depuis 2009.  
LFB_Mobilisation_data_from_January_2009 - 2014.csv  
LFB_Mobilisation_data_from_2015 - 2020.csv  
LFB_Mobilisation_data_from_last_three_years.csv  

(Fichier excel à la base modifier en csv)

In [1]:
import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib as plt
import seaborn as sns

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (
/var/folders/h7/s4gght1j63df7l8xt_syhm5c0000gn/T/ipykernel_3505/918669240.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd
/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [7]:
Mob_2009 = pd.read_csv("Data/LFB_Mobilisation_data_from_January_2009 - 2014.csv")

In [8]:
Mob_2009.head()

,IncidentNumber,CalYear,HourOfCall,ResourceMobilisationId,Resource_Code,PerformanceReporting,DateAndTimeMobilised,DateAndTimeMobile,DateAndTimeArrived,TurnoutTimeSeconds,...,DateAndTimeLeft,DateAndTimeReturned,DeployedFromStation_Code,DeployedFromStation_Name,DeployedFromLocation,PumpOrder,PlusCode_Code,PlusCode_Description,DelayCodeId,DelayCode_Description
0,235138081,2009,0,38426,H271,1,01/01/2009 00:02,NaN,01/01/2009 00:07,NaN,...,01/01/2009 00:16,01/01/2009 00:23,H27,Battersea,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
1,235138081,2009,0,38427,H212,2,01/01/2009 00:02,01/01/2009 00:06,01/01/2009 00:08,253.0,...,01/01/2009 00:12,01/01/2009 00:12,H21,Clapham,Home Station,2,Initial,Initial Mobilisation,NaN,NaN
2,2091,2009,0,38429,A341,1,01/01/2009 00:04,01/01/2009 00:06,01/01/2009 00:09,151.0,...,01/01/2009 00:16,01/01/2009 00:17,A34,Edmonton,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
3,3091,2009,0,38430,G232,1,01/01/2009 00:04,01/01/2009 00:06,01/01/2009 00:08,108.0,...,01/01/2009 00:20,01/01/2009 00:20,G23,Hillingdon,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
4,5091,2009,0,38432,A311,1,01/01/2009 00:06,01/01/2009 00:07,01/01/2009 00:09,114.0,...,01/01/2009 00:11,01/01/2009 00:22,A31,Holloway,Home Station,1,Initial,Initial Mobilisation,NaN,NaN

In [9]:
Mob_2009.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 901788 entries, 0 to 901787
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   IncidentNumber            901788 non-null  int64
 1   CalYear                   901788 non-null  int64
 2   HourOfCall                901788 non-null  int64
 3   ResourceMobilisationId    901788 non-null  int64
 4   Resource_Code             901788 non-null  object
 5   PerformanceReporting      901788 non-null  object
 6   DateAndTimeMobilised      901788 non-null  object
 7   DateAndTimeMobile         883728 non-null  object
 8   DateAndTimeArrived        901788 non-null  object
 9   TurnoutTimeSeconds        883636 non-null  float64
 10  TravelTimeSeconds         883631 non-null  float64
 11  AttendanceTimeSeconds     901788 non-null  int64
 12  DateAndTimeLeft           856625 non-null  object
 13  DateAndTimeReturned       877430 non-null  object
 14  DeployedFromStation_Code  901786 non-null  object
 15  DeployedFromStation_Name  901786 non-null  object
 16  DeployedFromLocation      901744 non-null  object
 17  PumpOrder                 901788 non-null  int64
 18  PlusCode_Code             901788 non-null  object
 19  PlusCode_Description      901788 non-null  object
 20  DelayCodeId               228294 non-null  float64
 21  DelayCode_Description     228294 non-null  object
dtypes: float64(3), int64(6), object(13)
memory usage: 151.4+ MB

In [9]:
# Modification du type de certaines variables
# IncidentNumber passe en object
# CalYear passe en object
# ResourceMobilisationId passe en object
# PumpOrder en object
# DelayCodeId en object
dico = {'IncidentNumber' : 'object',
       'CalYear' : 'object',
       'ResourceMobilisationId' : 'object',
       'PumpOrder' : 'object',
       'DelayCodeId' : 'object'}

Mob_2009 = Mob_2009.astype(dico)
# DateAndTimeMobilised, DateAndTimeMobile et DateAndTimeArrived en Datetime
# DateAndTimeLeft, DateAndTimeReturned en Datetime
# Format de Date : Jour/Mois/Année  donc paramètre format = "%d/%m/%Y %H:%M"
Mob_2009['DateAndTimeMobilised'] = pd.to_datetime(Mob_2009['DateAndTimeMobilised'],format = "%d/%m/%Y %H:%M")
Mob_2009['DateAndTimeMobile'] = pd.to_datetime(Mob_2009['DateAndTimeMobile'],format = "%d/%m/%Y %H:%M")
Mob_2009['DateAndTimeArrived'] = pd.to_datetime(Mob_2009['DateAndTimeArrived'],format = "%d/%m/%Y %H:%M")
Mob_2009['DateAndTimeLeft'] = pd.to_datetime(Mob_2009['DateAndTimeLeft'],format = "%d/%m/%Y %H:%M")
Mob_2009['DateAndTimeReturned'] = pd.to_datetime(Mob_2009['DateAndTimeReturned'],format = "%d/%m/%Y %H:%M")

In [10]:
Mob_2009.head()

,IncidentNumber,CalYear,HourOfCall,ResourceMobilisationId,Resource_Code,PerformanceReporting,DateAndTimeMobilised,DateAndTimeMobile,DateAndTimeArrived,TurnoutTimeSeconds,...,DateAndTimeLeft,DateAndTimeReturned,DeployedFromStation_Code,DeployedFromStation_Name,DeployedFromLocation,PumpOrder,PlusCode_Code,PlusCode_Description,DelayCodeId,DelayCode_Description
0,235138081,2009,0,38426,H271,1,2009-01-01 00:02:00,NaT,2009-01-01 00:07:00,NaN,...,2009-01-01 00:16:00,2009-01-01 00:23:00,H27,Battersea,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
1,235138081,2009,0,38427,H212,2,2009-01-01 00:02:00,2009-01-01 00:06:00,2009-01-01 00:08:00,253.0,...,2009-01-01 00:12:00,2009-01-01 00:12:00,H21,Clapham,Home Station,2,Initial,Initial Mobilisation,NaN,NaN
2,2091,2009,0,38429,A341,1,2009-01-01 00:04:00,2009-01-01 00:06:00,2009-01-01 00:09:00,151.0,...,2009-01-01 00:16:00,2009-01-01 00:17:00,A34,Edmonton,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
3,3091,2009,0,38430,G232,1,2009-01-01 00:04:00,2009-01-01 00:06:00,2009-01-01 00:08:00,108.0,...,2009-01-01 00:20:00,2009-01-01 00:20:00,G23,Hillingdon,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
4,5091,2009,0,38432,A311,1,2009-01-01 00:06:00,2009-01-01 00:07:00,2009-01-01 00:09:00,114.0,...,2009-01-01 00:11:00,2009-01-01 00:22:00,A31,Holloway,Home Station,1,Initial,Initial Mobilisation,NaN,NaN

In [10]:
Mob_2009.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 901788 entries, 0 to 901787
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   IncidentNumber            901788 non-null  object
 1   CalYear                   901788 non-null  object
 2   HourOfCall                901788 non-null  int64
 3   ResourceMobilisationId    901788 non-null  object
 4   Resource_Code             901788 non-null  object
 5   PerformanceReporting      901788 non-null  object
 6   DateAndTimeMobilised      901788 non-null  datetime64[ns]
 7   DateAndTimeMobile         883728 non-null  datetime64[ns]
 8   DateAndTimeArrived        901788 non-null  datetime64[ns]
 9   TurnoutTimeSeconds        883636 non-null  float64
 10  TravelTimeSeconds         883631 non-null  float64
 11  AttendanceTimeSeconds     901788 non-null  int64
 12  DateAndTimeLeft           856625 non-null  datetime64[ns]
 13  DateAndTimeReturned       877430 non-null  datetime64[ns]
 14  DeployedFromStation_Code  901786 non-null  object
 15  DeployedFromStation_Name  901786 non-null  object
 16  DeployedFromLocation      901744 non-null  object
 17  PumpOrder                 901788 non-null  object
 18  PlusCode_Code             901788 non-null  object
 19  PlusCode_Description      901788 non-null  object
 20  DelayCodeId               228294 non-null  object
 21  DelayCode_Description     228294 non-null  object
dtypes: datetime64[ns](5), float64(2), int64(2), object(13)
memory usage: 151.4+ MB

In [48]:
#check les modalités des variables qualitatives

len(Mob_2009['IncidentNumber'].unique())
Mob_2009['CalYear'].unique()
Mob_2009['HourOfCall'].unique()
len(Mob_2009['ResourceMobilisationId'].unique())
Mob_2009['ResourceMobilisationId'].value_counts(ascending=False).max()
Mob_2009['Resource_Code'].unique()
Mob_2009['Resource_Code'].value_counts(ascending=True).head(20)
Mob_2009['PerformanceReporting'].unique()
Mob_2009['DeployedFromStation_Code'].unique()
# certaines stations peu présente (1 contre 10000)
Mob_2009['DeployedFromStation_Code'].value_counts()
Mob_2009['DeployedFromStation_Name'].unique()
Mob_2009['DeployedFromLocation'].unique()
Mob_2009['PumpOrder'].unique()
Mob_2009['PlusCode_Code'].unique()
Mob_2009['PlusCode_Code'].value_counts()
Mob_2009['PlusCode_Description'].unique()
Mob_2009['PlusCode_Description'].value_counts()
Mob_2009['DelayCodeId'].unique()
Mob_2009['DelayCode_Description'].unique()

array([nan, 'Not held up', 'Address incomplete/wrong',
       'Traffic, roadworks, etc', 'Traffic calming measures',
       'Arrived but held up - Other reason', 'Appliance/Equipment defect',
       'Mob/Radio problems when mobilised',
       'On outside duty when mobilised', 'Weather conditions',
       'At drills when mobilised'], dtype=object)

In [11]:
Mob_2009.isna().sum()

IncidentNumber                   0
CalYear                          0
HourOfCall                       0
ResourceMobilisationId           0
Resource_Code                    0
PerformanceReporting             0
DateAndTimeMobilised             0
DateAndTimeMobile            18060
DateAndTimeArrived               0
TurnoutTimeSeconds           18152
TravelTimeSeconds            18157
AttendanceTimeSeconds            0
DateAndTimeLeft              45163
DateAndTimeReturned          24358
DeployedFromStation_Code         2
DeployedFromStation_Name         2
DeployedFromLocation            44
PumpOrder                        0
PlusCode_Code                    0
PlusCode_Description             0
DelayCodeId                 673494
DelayCode_Description       673494
dtype: int64

In [67]:
import seaborn as sns
import matplotlib.pyplot as plt

Concatene les trois dataFrames

In [12]:
Mob_2015 = pd.read_csv("Data/LFB_Mobilisation_data_from_2015 - 2020.csv") 
Mob_2021 = pd.read_csv("Data/LFB_Mobilisation_data_from_last_three_years.csv")

/var/folders/h7/s4gght1j63df7l8xt_syhm5c0000gn/T/ipykernel_77802/2423646653.py:1: DtypeWarning: Columns (0,13) have mixed types. Specify dtype option on import or set low_memory=False.
  Mob_2015 = pd.read_csv("Data/LFB_Mobilisation_data_from_2015 - 2020.csv")

In [12]:
display(Mob_2009.head())
display(Mob_2015.head())
display(Mob_2021.head())
# Check si il y a des numéro d'incident identique entre les dataFrame (au cas ou)

,IncidentNumber,CalYear,HourOfCall,ResourceMobilisationId,Resource_Code,PerformanceReporting,DateAndTimeMobilised,DateAndTimeMobile,DateAndTimeArrived,TurnoutTimeSeconds,...,DateAndTimeLeft,DateAndTimeReturned,DeployedFromStation_Code,DeployedFromStation_Name,DeployedFromLocation,PumpOrder,PlusCode_Code,PlusCode_Description,DelayCodeId,DelayCode_Description
0,235138081,2009,0,38426,H271,1,2009-01-01 00:02:00,NaT,2009-01-01 00:07:00,NaN,...,2009-01-01 00:16:00,2009-01-01 00:23:00,H27,Battersea,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
1,235138081,2009,0,38427,H212,2,2009-01-01 00:02:00,2009-01-01 00:06:00,2009-01-01 00:08:00,253.0,...,2009-01-01 00:12:00,2009-01-01 00:12:00,H21,Clapham,Home Station,2,Initial,Initial Mobilisation,NaN,NaN
2,2091,2009,0,38429,A341,1,2009-01-01 00:04:00,2009-01-01 00:06:00,2009-01-01 00:09:00,151.0,...,2009-01-01 00:16:00,2009-01-01 00:17:00,A34,Edmonton,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
3,3091,2009,0,38430,G232,1,2009-01-01 00:04:00,2009-01-01 00:06:00,2009-01-01 00:08:00,108.0,...,2009-01-01 00:20:00,2009-01-01 00:20:00,G23,Hillingdon,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
4,5091,2009,0,38432,A311,1,2009-01-01 00:06:00,2009-01-01 00:07:00,2009-01-01 00:09:00,114.0,...,2009-01-01 00:11:00,2009-01-01 00:22:00,A31,Holloway,Home Station,1,Initial,Initial Mobilisation,NaN,NaN

,IncidentNumber,CalYear,HourOfCall,ResourceMobilisationId,Resource_Code,PerformanceReporting,DateAndTimeMobilised,DateAndTimeMobile,DateAndTimeArrived,TurnoutTimeSeconds,...,DateAndTimeLeft,DateAndTimeReturned,DeployedFromStation_Code,DeployedFromStation_Name,DeployedFromLocation,PumpOrder,PlusCode_Code,PlusCode_Description,DelayCodeId,DelayCode_Description
0,1151,2015,0,4436381,H262,1,01/01/2015 00:02,01/01/2015 00:03,01/01/2015 00:07,79.0,...,01/01/2015 00:35,01/01/2015 00:43,H26,Addington,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
1,1151,2015,0,4436380,H261,2,01/01/2015 00:02,01/01/2015 00:03,01/01/2015 00:07,74.0,...,01/01/2015 00:33,01/01/2015 00:38,H26,Addington,Home Station,2,Initial,Initial Mobilisation,NaN,NaN
2,4151,2015,0,4436383,A352,1,01/01/2015 00:03,01/01/2015 00:03,01/01/2015 00:09,44.0,...,01/01/2015 00:15,01/01/2015 00:27,A35,Enfield,Home Station,1,Initial,Initial Mobilisation,12.0,Not held up
3,8151,2015,0,4436385,G251,1,01/01/2015 00:04,01/01/2015 00:06,01/01/2015 00:09,76.0,...,01/01/2015 00:44,01/01/2015 00:50,G25,Ealing,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
4,10151,2015,0,4436390,H291,1,01/01/2015 00:06,01/01/2015 00:11,01/01/2015 00:13,249.0,...,01/01/2015 00:20,01/01/2015 00:25,H29,Purley,Home Station,1,Initial,Initial Mobilisation,11.0,Mob/Radio problems when mobilised

,IncidentNumber,CalYear,HourOfCall,ResourceMobilisationId,Resource_Code,PerformanceReporting,DateAndTimeMobilised,DateAndTimeMobile,DateAndTimeArrived,TurnoutTimeSeconds,...,DateAndTimeLeft,DateAndTimeReturned,DeployedFromStation_Code,DeployedFromStation_Name,DeployedFromLocation,PumpOrder,PlusCode_Code,PlusCode_Description,DelayCodeId,DelayCode_Description
0,000004-01012021,2021,0,5769249,A321,1,01/01/2021 00:06,01/01/2021 00:07,01/01/2021 00:09,48.0,...,01/01/2021 00:57,NaN,A32,Hornsey,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
1,000005-01012021,2021,0,5769250,F351,1,01/01/2021 00:07,01/01/2021 00:09,01/01/2021 00:11,114.0,...,01/01/2021 00:18,NaN,F35,Woodford,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
2,000006-01012021,2021,0,5769251,F412,1,01/01/2021 00:08,01/01/2021 00:10,01/01/2021 00:14,131.0,...,01/01/2021 00:24,NaN,F41,Dagenham,Home Station,1,Initial,Initial Mobilisation,12.0,Not held up
3,000007-01012021,2021,0,5769252,H331,1,01/01/2021 00:12,01/01/2021 00:13,01/01/2021 00:19,53.0,...,01/01/2021 00:40,NaN,H33,Wandsworth,Home Station,1,Initial,Initial Mobilisation,8.0,Traffic calming measures
4,000007-01012021,2021,0,5769253,G351,2,01/01/2021 00:12,01/01/2021 00:13,01/01/2021 00:19,69.0,...,01/01/2021 00:29,NaN,G35,Fulham,Home Station,2,Initial,Initial Mobilisation,NaN,NaN

In [13]:
# DataFrame de 2015-2020

dico = {'IncidentNumber' : 'object',
       'CalYear' : 'object',
       'ResourceMobilisationId' : 'object',
       'PumpOrder' : 'object',
       'DelayCodeId' : 'object'}

Mob_2015 = Mob_2015.astype(dico)

Mob_2015['DateAndTimeMobilised'] = pd.to_datetime(Mob_2015['DateAndTimeMobilised'],format = "%d/%m/%Y %H:%M")
Mob_2015['DateAndTimeMobile'] = pd.to_datetime(Mob_2015['DateAndTimeMobile'],format = "%d/%m/%Y %H:%M")
Mob_2015['DateAndTimeArrived'] = pd.to_datetime(Mob_2015['DateAndTimeArrived'],format = "%d/%m/%Y %H:%M")
Mob_2015['DateAndTimeLeft'] = pd.to_datetime(Mob_2015['DateAndTimeLeft'],format = "%d/%m/%Y %H:%M")
Mob_2015['DateAndTimeReturned'] = pd.to_datetime(Mob_2015['DateAndTimeReturned'],format = "%d/%m/%Y %H:%M")

In [14]:
Mob_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 883641 entries, 0 to 883640
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   IncidentNumber            883641 non-null  object
 1   CalYear                   883641 non-null  object
 2   HourOfCall                883641 non-null  int64
 3   ResourceMobilisationId    883641 non-null  object
 4   Resource_Code             883641 non-null  object
 5   PerformanceReporting      883641 non-null  object
 6   DateAndTimeMobilised      883641 non-null  datetime64[ns]
 7   DateAndTimeMobile         876365 non-null  datetime64[ns]
 8   DateAndTimeArrived        883641 non-null  datetime64[ns]
 9   TurnoutTimeSeconds        876339 non-null  float64
 10  TravelTimeSeconds         876254 non-null  float64
 11  AttendanceTimeSeconds     883641 non-null  int64
 12  DateAndTimeLeft           882620 non-null  datetime64[ns]
 13  DateAndTimeReturned       95728 non-null   datetime64[ns]
 14  DeployedFromStation_Code  883620 non-null  object
 15  DeployedFromStation_Name  883620 non-null  object
 16  DeployedFromLocation      882957 non-null  object
 17  PumpOrder                 883641 non-null  object
 18  PlusCode_Code             883641 non-null  object
 19  PlusCode_Description      883641 non-null  object
 20  DelayCodeId               215751 non-null  object
 21  DelayCode_Description     215751 non-null  object
dtypes: datetime64[ns](5), float64(2), int64(2), object(13)
memory usage: 148.3+ MB

In [15]:
# Vérif si on a les mêmes type de données
list(Mob_2009.dtypes) == list(Mob_2015.dtypes)

True

In [ ]:


Mob_2015['IncidentNumber'].value_counts().max()
Mob_2015['CalYear'].unique()
Mob_2015['HourOfCall'].unique()
# 1 apparition pour tous
Mob_2015['ResourceMobilisationId'].value_counts().max()
Mob_2015['Resource_Code'].unique()
Mob_2015['Resource_Code'].value_counts(ascending=True).head(20)
Mob_2015['PerformanceReporting'].unique()
Mob_2015['DeployedFromStation_Code'].unique()
# certaines stations peu présente (1 contre 10000)
Mob_2015['DeployedFromStation_Code'].value_counts()
Mob_2015['DeployedFromStation_Name'].unique()
Mob_2015['DeployedFromLocation'].unique()
Mob_2015['PumpOrder'].unique()
Mob_2015['PlusCode_Code'].unique()
Mob_2015['PlusCode_Code'].value_counts()
Mob_2015['PlusCode_Description'].unique()
Mob_2015['PlusCode_Description'].value_counts()
Mob_2015['DelayCodeId'].unique()
Mob_2015['DelayCode_Description'].unique()

In [16]:
# DataFrame de 2020

dico = {'IncidentNumber' : 'object',
       'CalYear' : 'object',
       'ResourceMobilisationId' : 'object',
       'PumpOrder' : 'object',
       'DelayCodeId' : 'object'}

Mob_2021 = Mob_2021.astype(dico)

Mob_2021['DateAndTimeMobilised'] = pd.to_datetime(Mob_2021['DateAndTimeMobilised'],format = "%d/%m/%Y %H:%M")
Mob_2021['DateAndTimeMobile'] = pd.to_datetime(Mob_2021['DateAndTimeMobile'],format = "%d/%m/%Y %H:%M")
Mob_2021['DateAndTimeArrived'] = pd.to_datetime(Mob_2021['DateAndTimeArrived'],format = "%d/%m/%Y %H:%M")
Mob_2021['DateAndTimeLeft'] = pd.to_datetime(Mob_2021['DateAndTimeLeft'],format = "%d/%m/%Y %H:%M")
Mob_2021['DateAndTimeReturned'] = pd.to_datetime(Mob_2021['DateAndTimeReturned'],format = "%d/%m/%Y %H:%M")

In [59]:
Mob_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 492088 entries, 0 to 492087
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   IncidentNumber            492088 non-null  object
 1   CalYear                   492088 non-null  object
 2   HourOfCall                492088 non-null  int64
 3   ResourceMobilisationId    492088 non-null  object
 4   Resource_Code             492088 non-null  object
 5   PerformanceReporting      492088 non-null  object
 6   DateAndTimeMobilised      492088 non-null  datetime64[ns]
 7   DateAndTimeMobile         489997 non-null  datetime64[ns]
 8   DateAndTimeArrived        492088 non-null  datetime64[ns]
 9   TurnoutTimeSeconds        489979 non-null  float64
 10  TravelTimeSeconds         489982 non-null  float64
 11  AttendanceTimeSeconds     492088 non-null  int64
 12  DateAndTimeLeft           491894 non-null  datetime64[ns]
 13  DateAndTimeReturned       0 non-null       datetime64[ns]
 14  DeployedFromStation_Code  492084 non-null  object
 15  DeployedFromStation_Name  492084 non-null  object
 16  DeployedFromLocation      491697 non-null  object
 17  PumpOrder                 492088 non-null  object
 18  PlusCode_Code             492088 non-null  object
 19  PlusCode_Description      492088 non-null  object
 20  DelayCodeId               120418 non-null  object
 21  DelayCode_Description     120418 non-null  object
dtypes: datetime64[ns](5), float64(2), int64(2), object(13)
memory usage: 82.6+ MB

In [17]:
# vérif si même type de données
list(Mob_2009.dtypes) == list(Mob_2015.dtypes) == list(Mob_2021.dtypes)

True

In [41]:
Mob_2015.head()

,IncidentNumber,CalYear,HourOfCall,ResourceMobilisationId,Resource_Code,PerformanceReporting,DateAndTimeMobilised,DateAndTimeMobile,DateAndTimeArrived,TurnoutTimeSeconds,...,DateAndTimeLeft,DateAndTimeReturned,DeployedFromStation_Code,DeployedFromStation_Name,DeployedFromLocation,PumpOrder,PlusCode_Code,PlusCode_Description,DelayCodeId,DelayCode_Description
0,1151,2015,0,4436381,H262,1,2015-01-01 00:02:00,2015-01-01 00:03:00,2015-01-01 00:07:00,79.0,...,2015-01-01 00:35:00,2015-01-01 00:43:00,H26,Addington,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
1,1151,2015,0,4436380,H261,2,2015-01-01 00:02:00,2015-01-01 00:03:00,2015-01-01 00:07:00,74.0,...,2015-01-01 00:33:00,2015-01-01 00:38:00,H26,Addington,Home Station,2,Initial,Initial Mobilisation,NaN,NaN
2,4151,2015,0,4436383,A352,1,2015-01-01 00:03:00,2015-01-01 00:03:00,2015-01-01 00:09:00,44.0,...,2015-01-01 00:15:00,2015-01-01 00:27:00,A35,Enfield,Home Station,1,Initial,Initial Mobilisation,12.0,Not held up
3,8151,2015,0,4436385,G251,1,2015-01-01 00:04:00,2015-01-01 00:06:00,2015-01-01 00:09:00,76.0,...,2015-01-01 00:44:00,2015-01-01 00:50:00,G25,Ealing,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
4,10151,2015,0,4436390,H291,1,2015-01-01 00:06:00,2015-01-01 00:11:00,2015-01-01 00:13:00,249.0,...,2015-01-01 00:20:00,2015-01-01 00:25:00,H29,Purley,Home Station,1,Initial,Initial Mobilisation,11.0,Mob/Radio problems when mobilised

In [18]:
#Concatène les trois DataFrame
Mobilisation = pd.concat([Mob_2009,Mob_2015,Mob_2021], axis = 0, ignore_index = True)

In [19]:
Mobilisation.columns
# Pourquoi colonne apparssent plusrieurs fois

Index(['IncidentNumber', 'CalYear', 'HourOfCall', 'ResourceMobilisationId',
       'Resource_Code', 'PerformanceReporting', 'DateAndTimeMobilised',
       'DateAndTimeMobile', 'DateAndTimeArrived', 'TurnoutTimeSeconds',
       'TravelTimeSeconds', 'AttendanceTimeSeconds', 'DateAndTimeLeft',
       'DateAndTimeReturned', 'DeployedFromStation_Code',
       'DeployedFromStation_Name', 'DeployedFromLocation', 'PumpOrder',
       'PlusCode_Code', 'PlusCode_Description', 'DelayCodeId',
       'DelayCode_Description'],
      dtype='object')

In [20]:
Mobilisation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2277517 entries, 0 to 2277516
Data columns (total 22 columns):
 #   Column                    Dtype
---  ------                    -----
 0   IncidentNumber            object
 1   CalYear                   object
 2   HourOfCall                int64
 3   ResourceMobilisationId    object
 4   Resource_Code             object
 5   PerformanceReporting      object
 6   DateAndTimeMobilised      datetime64[ns]
 7   DateAndTimeMobile         datetime64[ns]
 8   DateAndTimeArrived        datetime64[ns]
 9   TurnoutTimeSeconds        float64
 10  TravelTimeSeconds         float64
 11  AttendanceTimeSeconds     int64
 12  DateAndTimeLeft           datetime64[ns]
 13  DateAndTimeReturned       datetime64[ns]
 14  DeployedFromStation_Code  object
 15  DeployedFromStation_Name  object
 16  DeployedFromLocation      object
 17  PumpOrder                 object
 18  PlusCode_Code             object
 19  PlusCode_Description      object
 20  DelayCodeId               object
 21  DelayCode_Description     object
dtypes: datetime64[ns](5), float64(2), int64(2), object(13)
memory usage: 382.3+ MB

In [21]:
#Sauvegarde du DataFrame avec toute les données
Mobilisation.to_csv("Data/Mobilisation_2009_2023.csv",index=False)

## Charge le dataFrame concatené

In [1]:
import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (
/var/folders/h7/s4gght1j63df7l8xt_syhm5c0000gn/T/ipykernel_11651/3873372484.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd
/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
# DataFrame de toute les années
Mobilisation =pd.read_csv("Data/Mobilisation_2009_2023.csv")

/var/folders/h7/s4gght1j63df7l8xt_syhm5c0000gn/T/ipykernel_11651/4138342358.py:2: DtypeWarning: Columns (0,13) have mixed types. Specify dtype option on import or set low_memory=False.
  Mobilisation =pd.read_csv("Mobilisation_2009_2023.csv")

In [3]:
Mobilisation.head()

,IncidentNumber,CalYear,HourOfCall,ResourceMobilisationId,Resource_Code,PerformanceReporting,DateAndTimeMobilised,DateAndTimeMobile,DateAndTimeArrived,TurnoutTimeSeconds,...,DateAndTimeLeft,DateAndTimeReturned,DeployedFromStation_Code,DeployedFromStation_Name,DeployedFromLocation,PumpOrder,PlusCode_Code,PlusCode_Description,DelayCodeId,DelayCode_Description
0,235138081,2009,0,38426,H271,1,2009-01-01 00:02:00,NaN,2009-01-01 00:07:00,NaN,...,2009-01-01 00:16:00,2009-01-01 00:23:00,H27,Battersea,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
1,235138081,2009,0,38427,H212,2,2009-01-01 00:02:00,2009-01-01 00:06:00,2009-01-01 00:08:00,253.0,...,2009-01-01 00:12:00,2009-01-01 00:12:00,H21,Clapham,Home Station,2,Initial,Initial Mobilisation,NaN,NaN
2,2091,2009,0,38429,A341,1,2009-01-01 00:04:00,2009-01-01 00:06:00,2009-01-01 00:09:00,151.0,...,2009-01-01 00:16:00,2009-01-01 00:17:00,A34,Edmonton,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
3,3091,2009,0,38430,G232,1,2009-01-01 00:04:00,2009-01-01 00:06:00,2009-01-01 00:08:00,108.0,...,2009-01-01 00:20:00,2009-01-01 00:20:00,G23,Hillingdon,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
4,5091,2009,0,38432,A311,1,2009-01-01 00:06:00,2009-01-01 00:07:00,2009-01-01 00:09:00,114.0,...,2009-01-01 00:11:00,2009-01-01 00:22:00,A31,Holloway,Home Station,1,Initial,Initial Mobilisation,NaN,NaN

In [6]:
Mobilisation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2277517 entries, 0 to 2277516
Data columns (total 22 columns):
 #   Column                    Dtype
---  ------                    -----
 0   IncidentNumber            object
 1   CalYear                   int64
 2   HourOfCall                int64
 3   ResourceMobilisationId    int64
 4   Resource_Code             object
 5   PerformanceReporting      object
 6   DateAndTimeMobilised      object
 7   DateAndTimeMobile         object
 8   DateAndTimeArrived        object
 9   TurnoutTimeSeconds        float64
 10  TravelTimeSeconds         float64
 11  AttendanceTimeSeconds     int64
 12  DateAndTimeLeft           object
 13  DateAndTimeReturned       object
 14  DeployedFromStation_Code  object
 15  DeployedFromStation_Name  object
 16  DeployedFromLocation      object
 17  PumpOrder                 int64
 18  PlusCode_Code             object
 19  PlusCode_Description      object
 20  DelayCodeId               float64
 21  DelayCode_Description     object
dtypes: float64(3), int64(5), object(14)
memory usage: 382.3+ MB

In [7]:
dico = {'IncidentNumber' : 'object',
       'CalYear' : 'object',
       'ResourceMobilisationId' : 'object',
       'PumpOrder' : 'object',
       'DelayCodeId' : 'object'}

Mobilisation = Mobilisation.astype(dico)

Mobilisation['DateAndTimeMobilised'] = pd.to_datetime(Mobilisation['DateAndTimeMobilised'])
Mobilisation['DateAndTimeMobile'] = pd.to_datetime(Mobilisation['DateAndTimeMobile'])
Mobilisation['DateAndTimeArrived'] = pd.to_datetime(Mobilisation['DateAndTimeArrived'])
Mobilisation['DateAndTimeLeft'] = pd.to_datetime(Mobilisation['DateAndTimeLeft'])
Mobilisation['DateAndTimeReturned'] = pd.to_datetime(Mobilisation['DateAndTimeReturned'])

In [8]:
Mobilisation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2277517 entries, 0 to 2277516
Data columns (total 22 columns):
 #   Column                    Dtype
---  ------                    -----
 0   IncidentNumber            object
 1   CalYear                   object
 2   HourOfCall                int64
 3   ResourceMobilisationId    object
 4   Resource_Code             object
 5   PerformanceReporting      object
 6   DateAndTimeMobilised      datetime64[ns]
 7   DateAndTimeMobile         datetime64[ns]
 8   DateAndTimeArrived        datetime64[ns]
 9   TurnoutTimeSeconds        float64
 10  TravelTimeSeconds         float64
 11  AttendanceTimeSeconds     int64
 12  DateAndTimeLeft           datetime64[ns]
 13  DateAndTimeReturned       datetime64[ns]
 14  DeployedFromStation_Code  object
 15  DeployedFromStation_Name  object
 16  DeployedFromLocation      object
 17  PumpOrder                 object
 18  PlusCode_Code             object
 19  PlusCode_Description      object
 20  DelayCodeId               object
 21  DelayCode_Description     object
dtypes: datetime64[ns](5), float64(2), int64(2), object(13)
memory usage: 382.3+ MB

In [64]:
# Doublons OK
# Modalités des vat qt
# valeurs num extreme
# NA